h1 {
  background-color: #46166B;
  height: 50px;
  background-size: cover;
  margin: 0;
  padding: 0;
}

p {
  background-color: #46166B;
  height: 50px;
  margin: 0;
  padding: 0;
}

#home{
  background-color: #46166B;
}

#menu1{
  background-color: #46166B;
}

#menu2{
  background-color: #46166B;
}

#menu3{
  background-color: #46166B;
}

#menu4{
  background-color: #46166B;
}